body {
    background-color: rgb(103, 126, 112);
    font-family: 'Montserrat', sans-serif;
}

p {
    color: rgb(220, 220, 220);
}

h1 {
    color: rgb(220, 220, 220);
    font-size: 70px;
}

h2 {
    color: rgb(220, 220, 220);
}

h3 {
    color: rgb(220, 220, 220);
}

a {
    color: rgb(220, 220, 220);
    font-weight: bold;
    font-size: 25px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}
